# MARC 21 Amarc5xx.cfg

[500]
0=a 0M
1=b 0A
2=c 1A
3=d 0A
4=e 1A
5=f 0A
6=g 1A
7=h 0a
8=i 0A
9=j 1A
10=k 1A
11=l 0A
12=m 1A
13=n 1A
14=o 0A
15=p 1A
16=q 1A
17=r 0A
18=s 0A
19=9 0A
20=t 0A
21=v 1A
22=w 0A
23=x 1A
24=y 1A
25=z 1A
26=4 1A
27=5 1A
28=6 0A
29=8 1A
Subfa=Henkilˆnnimi
Subfb=Numerointi
Subfc=Arvonimet ja muut nimeen liittyv‰t sanat
Subfd=Nimeen liittyv‰t aikam‰‰reet
Subfe=Funktiotermi
Subff=Teoksen julkaisuaika
Subfg=Muut tiedot
Subfh=Aineiston yleism‰‰re
Subfi=Suhdetta kuvaava ilmaus
Subfj=Nimen m‰‰rite
Subfk=Muotoa kuvaava kokoava nimeke
Subfl=Teoksen kieli
Subfm=Musiikin esityskokoonpano
Subfn=Numerointitieto
Subfo=Musiikin sovitusmerkintˆ
Subfp=Teoksen osan numero
Subfq=Henkilˆnnimen t‰ydellisempi numero
Subfr=S‰vellaji
Subfs=Versio
Subf9=Artikkeli
Subft=Teoksen imeke
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[500Ind1]
0=0 
1=1 
2=3 
Value0=Nimen osien j‰rjestys suora
Value1=Nimien osien j‰rjestys k‰‰nteinen
Value3=Perheen tai suvun nimi

[500Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[510]
0=a 0M
1=b 1A
2=c 1A
3=d 0A
4=e 1A
5=f 0A
6=g 1A
7=h 0A
8=i 0A
9=k 1A
10=l 0A
11=m 1A
12=n 1A
13=o 0A
14=p 1A
15=r 0A
16=s 0A
17=9 0A
18=t 0A
19=v 1A
20=w 0A
21=x 1A
22=y 1A
23=z 1A
24=4 1A
25=5 1A
26=6 0A
27=8 1A
Subfa=Yhteisˆnnimi
Subfb=Alayksikkˆ
Subfc=Kokouksen paikka
Subfd=Kokouksen tai sopimuksen allekirjoittamisen aika
Subfe=Funktiotermi
Subff=Teoksen julkaisuaika
Subfg=Muut tiedot
Subfh=Aineiston yleism‰‰re
Subfi=Suhdetta kuvaava ilmaus
Subfk=Muotoa kuvaava kokoava nimeke
Subfl=Teoksen kieli
Subfm=Musiikin esityskokoonpano
Subfn=Kokouksen numero tai muu numerointitieto
Subfo=Musiikin sovitusmerkintˆ
Subfp=Teoksen osan nimeke
Subfr=S‰vellaji
Subfs=Versio
Subf9=Artikkeli
Subft=Teoksen nimeke
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[510Ind1]
0=0
1=1
2=2
Value0=Nimen osien j‰rjestys k‰‰nteinen
Value1=Hallintoalueen nimi
Value2=Nimen osien j‰rjestys suora

[510Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[511]
0=a 0M
1=c 0A
2=d 0A
3=e 1A
4=f 0A
5=g 1A
6=h 0A
7=i 0A
8=j 1A
9=k 1A
10=l 0A
11=n 1A
12=p 1A
13=q 0A
14=s 0A
15=9 0A
16=t 0A
17=v 1A
18=w 0A
19=x 1A
20=y 1A
21=z 1A
22=4 1A
23=5 1A
24=6 0A
25=8 1A
Subfa=Kokouksen tai hallintoalueen nimi
Subfc=Kokouksen paikka
Subfd=Kokouksen aika
Subfe=Alayksikkˆ
Subff=Teoksen julkaisuaika
Subfg=Muut tiedot
Subfh=Aineiston yleism‰‰re
Subfi=Suhdetta kuvaava ilmaus
Subfj=Funktiotermi
Subfk=Muotoa kuvaava kokoava nimeke
Subfl=Teoksen kieli
Subfn=Kokouksen numero tai muu numerointitieto
Subfp=Teoksen osan nimeke
Subfq=Hallintoalueen nime‰ seuraava kokouksen nimi
Subfs=Versio
Subf9=Artikkeli
Subft=Teoksen nimeke
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[511Ind1]
0=0
1=1
2=2
Value0=Nimen osien j‰rjestys k‰‰nteinen
Value1=Hallintoalueen nimi
Value2=Nimen osien j‰rjestys suora

[511Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[530]
0=a 0M
1=d 1A
2=f 0A
3=g 1A
4=h 0A
5=i 0A
6=k 1A
7=l 0A
8=m 1A
9=n 1A
10=o 0A
11=p 1A
12=r 0A
13=s 0A
14=t 0A
15=v 1A
16=w 0A
17=x 1A
18=y 1A
19=z 1A
20=4 1A
21=5 1A
22=6 0A
23=8 1A
Subfa=Yhten‰istetty nimeke
Subfd=Sopimuksen allekirjoittamisaika
Subff=Teoksen julkaisuaika
Subfg=Muut tiedot
Subfh=Aineiston yleism‰‰re
Subfi=Suhdetta kuvaava ilmaus
Subfk=Muotoa kuvaava kokoava nimeke
Subfl=Teoksen kieli
Subfm=Musiikin esityskokoonpano
Subfn=Numerointitieto
Subfo=Musiikin sovitusmerkintˆ
Subfp=Teoksen osan nimeke
Subfr=S‰vellaji
Subfs=Versio
Subft=Teoksen nimeke
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[530Ind1]
0=_
Value_=M‰‰rittelem‰tˆn

[530Ind2]
0=0 
1=1 
2=2 
3=3 
4=4 
5=5 
6=6 
7=7 
8=8 
9=9 
Value0=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value1=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value2=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value3=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value4=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value5=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value6=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value7=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value8=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value9=Lajittelussa alusta ohitettavien merkkien m‰‰r‰

[547]
0=a 0M
1=c 1A
2=d 0A
3=g 1A
4=i 1A
5=v 1A
6=w 0A
7=x 1A
8=y 1A
9=z 1A
10=0 1A
11=4 1A
12=5 1A
13=6 0A
14=8 1A
Subfa=Tapahtuman nimi
Subfc=Tapahtuman paikka
Subfd=Tapahtuman aika
Subfg=Muut tiedot
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf0=Tietueen kontrollinumero
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[547Ind1]
0=_
Value_=M‰‰rittelem‰tˆn

[547Ind2]
0=_
Value_=M‰‰rittelem‰tˆn


[548]
0=a 0M
1=i 1A
2=v 1A
3=w 0A
4=x 1A
5=y 1A
6=z 1A
7=4 1A
8=5 1A
9=6 0A
10=8 1A
Subfa=Aikaa ilmaiseva termi
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[548Ind1]
0=_
Value_=M‰‰rittelem‰tˆn

[548Ind2]
0=_
Value_=M‰‰rittelem‰tˆn

[550]
0=a 0M
1=b 0A
2=g 1A
3=i 0A
4=v 1T
5=w 0A
6=x 1A
7=y 1A
8=z 1A
9=4 1A
10=5 1A
11=6 0A
12=8 1A
Subfa=Aihetta ilmaiseva termi tai maantieteellinen nimi
Subfb=Maantieteellist‰ nime‰ seuraava aihetta ilmaiseva termi
Subfg=Muut tiedot
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re 
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[550Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[550Ind2]
0=_
Value_=M‰‰rittelem‰tˆn

[551]
0=a 0M
1=g 1A
1=i 0A
2=v 1A
3=w 0A
4=x 1A
5=y 1A
6=z 1A
7=4 1A
8=5 1A
9=6 0A
10=8 1A
Subfa=Maantieteellinen nimi
Subfg=Muut tiedot
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re 
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[551Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[551Ind2]
0=_
Value_=M‰‰rittelem‰tˆn

[555]
0=a 0M
1=i 0A
2=v 1A
3=w 0A
4=x 1A
5=y 1A
6=z 1A
7=4 1A
8=5 1A
9=6 0A
10=8 1A
Subfa=Lajityyppi‰/muotoa kuvaava termi
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re 
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[555Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[555Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[562]
0=a 0A
1=i 1A
2=w 0A
3=0 1A
4=4 1A
5=5 1A
6=6 0A
7=8 1A
Subfa=Esityskokoonpanoa ilmaiseva termi
Subfi=Suhdetta kuvaava ilmaus
Subfw=Kontrollitiedot
Subf0=Tietueen kontrollinumero
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[562Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[562Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[580]
0=i 0A
1=v 1A
2=w 0A
3=x 1M
4=y 1A
5=z 1A
6=4 1A
7=5 1A
8=6 0A
9=8 1A
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[580Ind1]
0=_
Value_=M‰‰rittelem‰tˆn

[580Ind2]
0=_
Value_=M‰‰rittelem‰tˆn

[581]
0=i 0A
1=v 1A
2=w 0A
3=x 1A
4=y 1A
5=z 1M
6=4 1A
7=5 1A
8=6 0A
9=8 1A
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[581Ind1]
0=_
Value_=M‰‰rittelem‰tˆn

[581Ind2]
0=_
Value_=M‰‰rittelem‰tˆn

[582]
0=i 0A
1=v 1A
2=w 0A
3=x 1A
4=y 1M
5=z 1A
6=4 1A
7=5 1A
8=6 0A
9=8 1A
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[582Ind1]
0=_
Value_=M‰‰rittelem‰tˆn

[582Ind2]
0=_
Value_=M‰‰rittelem‰tˆn

[585]
0=i 0A
1=v 1M
2=w 0A
3=x 1A
4=y 1A
5=z 1A
6=4 1A
7=5 1A
8=6 0A
9=8 1A
Subfi=Suhdetta kuvaava ilmaus
Subfv=Muotoa ilmaiseva lis‰m‰‰re
Subfw=Kontrollitiedot
Subfx=Yleinen lis‰m‰‰re
Subfy=Aikaa ilmaiseva lis‰m‰‰re
Subfz=Maantieteellinen lis‰m‰‰re
Subf4=Suhdekoodi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[585Ind1]
0=_
Value_=M‰‰rittelem‰tˆn

[585Ind2]
0=_
Value_=M‰‰rittelem‰tˆn