# MARC 21 Bmarc2xx.cfg

[210]
0=a 0M
1=b 0A
2=2 1A
3=6 0A
4=8 1A
Subfa=Lyhennetty avainnimeke
Subfb=Erottava lis‰ys
Subf2=Muun lyhennetyn nimekkeen tyyppi
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[210Ind1]
0=0
1=1
Value0=Nimekkeest‰ ei tehd‰ lis‰kirjausta
Value1=Nimekkeest‰ tehd‰‰n lis‰kirjaus

[210Ind2]
0=_ 
1=0
Value_=Lyhennetty avainnimeke
Value0=Muu lyhennetty nimeke

[222]
0=a 0M
1=b 0A
2=6 0A
3=8 1A
Subfa=Avainnimeke
Subfb=Erottava lis‰ys
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[222Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[222Ind2]
0=0 
1=1 
2=2 
3=3
4=4 
5=5 
6=6 
7=7 
8=8 
9=9 
Value0=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value1=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value2=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value3=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value4=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value5=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value6=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value7=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value8=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value9=Lajittelussa alusta ohitettavien merkkien m‰‰r‰

[240]
0=a 0M
1=d 1A
2=f 0A
3=g 1A
4=h 0A
5=k 1A
6=l 0A
7=m 1A
8=n 1A
9=o 0A
10=p 1A
11=r 0A
12=s 0A
13=0 1A
14=6 0A
15=8 1A
Subfa=Yhten‰istetty nimeke
Subfd=Sopimuksen allekirjoittamisaika
Subff=Teoksen julkaisuaika
Subfg=Muut tiedot
Subfh=Aineiston yleism‰‰re
Subfk=Muotoa kuvaava kokoava nimeke
Subfl=Teoksen kieli
Subfm=Musiikin esityskokoonpano
Subfn=Numerointitieto
Subfo=Musiikin sovitusmerkintˆ
Subfp=Teoksen osan nimeke
Subfr=S‰vellaji
Subfs=Versio
Subf0=Auktoriteettitietueen tunnus
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[240Ind1]
0=0 
1=1
Value0=Ei painettuna eik‰ n‰ytet‰
Value1=Painettuna tai n‰ytet‰‰n

[240Ind2]
0=0 
1=1 
2=2 
3=3 
4=4 
5=5 
6=6 
7=7 
8=8 
9=9 
Value0=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value1=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value2=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value3=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value4=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value5=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value6=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value7=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value8=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value9=Lajittelussa alusta ohitettavien merkkien m‰‰r‰

[242]
0=a 0M
1=b 0A
2=c 0A
3=h 0A
4=n 1A
5=p 1A
6=y 0A
7=6 0A
8=8 1A
Subfa=Nimeke
Subfb=Muut nimeketiedot
Subfc=Vastuullisuusmerkintˆ jne.
Subfh=Aineiston yleism‰‰re
Subfn=Numerointitieto
Subfp=Teoksen osan nimeke
Subfy=K‰‰nnetyn nimekkeen kieli
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[242Ind1]
0=0
1=1 
Value0=Nimekkeest‰ ei tehd‰ lis‰kirjausta
Value1=Nimekkeest‰ tehd‰‰n lis‰kirjaus

[242Ind2]
0=0
1=1
2=2
3=3
4=4
5=5
6=6
7=7
8=8
9=9
Value0=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value1=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value2=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value3=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value4=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value5=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value6=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value7=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value8=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value9=Lajittelussa alusta ohitettavien merkkien m‰‰r‰

[243]
0=a 0M
1=d 1A
2=f 0A
3=g 1A
4=h 0A
5=k 1A
6=l 0A
7=m 1A
8=n 1A
9=o 0A
10=p 1A
11=r 0A
12=s 0A
13=6 0A
14=8 1A
Subfa=Kokoava yhten‰istetty nimeke
Subfd=Sopimuksen allekirjoittamisaika
Subff=Teoksen julkaisuaika
Subfg=Muut tiedot
Subfh=Aineiston yleism‰‰re
Subfk=Muotoa kuvaava kokoava nimeke
Subfl=Teoksen kieli
Subfm=Musiikin esityskokoonpano
Subfn=Numerointitieto
Subfo=Musiikin sovitusmerkintˆ
Subfp=Teoksen osan nimeke
Subfr=S‰vellaji
Subfs=Versio
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[243Ind1]
0=0 
1=1
Value0=Ei painettuna eik‰ n‰ytet‰
Value1=Painettuna tai n‰ytet‰‰n

[243Ind2]
0=0 
1=1 
2=2 
3=3 
4=4 
5=5 
6=6 
7=7 
8=8 
9=9 
Value0=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value1=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value2=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value3=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value4=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value5=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value6=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value7=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value8=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value9=Lajittelussa alusta ohitettavien merkkien m‰‰r‰

[245]
0=a 0M
1=b 0A
2=c 0A
3=f 0A
4=g 0A
5=h 0A
6=k 1A
7=n 1A
8=p 1A
9=s 0A
10=6 0A
11=8 1A
Subfa=P‰‰nimeke
Subfb=Muut nimeketiedot
Subfc=Vastuullisuusmerkinnˆt jne.
Subff=Sis‰llˆn kattama ajankohta tai ajanjakso
Subfg=Sis‰llˆn merkitt‰vimm‰n osan kattama ajankohta tai ajanjakso
Subfh=Aineiston yleism‰‰re 
Subfk=Muoto
Subfn=Numerointitieto
Subfp=Teoksen osan nimi
Subfs=Versio
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[245Ind1]
0=0 
1=1
Value0=Ei lis‰kirjausta p‰‰nimekkeest‰
Value1=P‰‰nimekkeest‰ lis‰kirjaus

[245Ind2]
0=0 
1=1 
2=2 
3=3 
4=4 
5=5 
6=6 
7=7 
8=8 
9=9 
Value0=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value1=Lajittelussa alusta ohitettavien merkkien m‰‰r‰
Value2=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value3=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value4=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value5=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value6=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value7=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value8=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 
Value9=Lajittelussa alusta ohitettavien merkkien m‰‰r‰ 

[246]
0=a 0A
1=b 0A
2=f 0A
3=g 1A
4=i 0A
5=n 1A
6=p 1A
7=5 0A
8=6 0A
9=8 1A
Subfa=P‰‰nimeke/lyhyt nimeke
Subfb=Muut nimeketiedot
Subff=Julkaisuaika tai numerointi
Subfg=Muut tiedot
Subfi=N‰yttˆteksti
Subfn=Numerointitieto
Subfp=Teoksen osan nimi
Subf5=Organisaatio, johon kent‰n tiedot p‰tev‰t
Subf6=Linkitys
Subf8=Linkki-ja j‰rjestysnumero

[246Ind1]
0=0
1=1
2=2
3=3 
Value0=Huomautus, ei lis‰kirjausta
Value1=Huomautus, lis‰kirjaus
Value2=Ei huomautusts, ei lis‰kirjausta
Value3=Ei huomautusta, lis‰kirjaus

[246Ind2]
0=_
1=0
2=1 
3=2
4=3
5=4
6=5
7=6
8=7
9=8
Value_=Tyyppi‰ ei ole m‰‰ritelty
Value0=Nimekkeen osa
Value1=Rinnakkaisnimeke
Value2=Erottuva nimeke
Value3=Muu nimeke
Value4=Kansinimeke
Value5=Nimeke lis‰tyll‰ nimiˆsivulla
Value6=Otsikkonimeke
Value7=Juokseva nimeke
Value8=Selk‰nimeke

[247]
0=a 0M
1=b 0A
2=f 0A
3=g 1A
4=h 0A
5=n 1A
6=p 1A
7=x 0A
8=6 0A
9=8 1A
Subfa=P‰‰nimeke
Subfb=Muut nimeketiedot
Subff=Julkaisuaika tai numerointi
Subfg=Muut tiedot
Subfh=Aineiston yleism‰‰re
Subfn=Numerointitieto
Subfp=Teoksen osan nimi
Subfx=ISSN-tunnus
Subf6=Linkitys
Subf8=Jakson tunnusnumero

[247Ind1]
0=0
1=1
Value0=Ei lis‰kirjausta
Value1=Lis‰kirjaus

[247Ind2]
0=0 
1=1 
Value0=Vakion‰yttˆ
Value1=Ei vakion‰yttˆ‰ 

[250]
0=a 1M
1=b 0A
2=3 0A
3=6 0A
4=8 1A
Subfa=Painosmerkintˆ
Subfb=Muut painoskohtaiset tiedot
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[250Ind1]
0=_
Value_=M‰‰rittelem‰tˆn

[250Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[254]
0=a 0M
1=6 0A
2=8 1A
Subfa=Nuottijulkaisun julkaisumuoto
Subf6=Linkitys
Subf8=Jakson tunnusnumero

[254Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[254Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[255]
0=a 0M
1=b 0A
2=c 0A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=6 0A
8=8 1A
Subfa=Mittakaavamerkintˆ
Subfb=Projektiomerkintˆ
Subfc=Koordinaattimerkintˆ
Subfd=Vyˆhykemerkintˆ
Subfe=Ekvinoktimerkintˆ
Subff=Koordinaattiparit ulommalle G-keh‰lle
Subfg=Koordinaattiparit poissulkevalle G-keh‰lle
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[255Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[255Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[256]
0=a 0M
2=6 0A
3=8 1A
Subfa=Elektronisen aineiston ominaisuudet
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[256Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[256Ind2]
0=_
Value_=M‰‰rittelelm‰tˆn

[257]
0=a 1A
1=0 1A
2=2 0A
3=6 0A
4=8 1A
Subfa=Tuottajan maa
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=L‰hde
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[257Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[257Ind2]
0=_
Value_=M‰‰rittelelm‰tˆn

[258]
0=a 0A
1=b 0A
1=6 0A
2=8 1A
Subfa=Myˆnt‰v‰ hallintoalue
Subfb=Nimellisarvo
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[258Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[258Ind2]
0=_
Value_=M‰‰rittelem‰tˆn

[260]
0=a 1A
1=b 1A
2=c 1A
3=e 1A
4=f 1A
5=g 1A
6=3 0A
7=6 0A
8=8 1A
Subfa=Julkaisu/Kustannus- tai jakelupaikka
Subfb=Julkaisija/Kustantaja tai jakaja
Subfc=Julkaisu- tai jakeluaika
Subfe=Paino-, valmistus- tai kaiverruspaikka
Subff=Nuotti- tai kirjapainon, valmistajan tai kaivertajan nimi
Subfg=Valmistusvuosi
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Jakson tunnusnumero

[260Ind1]
0=_ 
1=2
2=3
Value_=Soveltumaton/Tietoa ei ole annettu/Aikaisin tiedossa oleva julkaisija
Value2=V‰lijulkaisija
value3=Nykyinen/viimeisin julkaisija

[260Ind2]
0=_ 
Value_=M‰‰rittelem‰tˆn

[263]
0=a 0A
1=6 0A
2=8 1A
Subfa=Arvioitu julkaisuaika (vvvvkk)
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[263Ind1]
0=_ 
Value_=M‰‰rittelem‰tˆn

[263Ind2]
0=_
Value_=M‰‰rittelelm‰tˆn

[264]
0=a 1A
1=b 1A
2=c 1A
3=3 0A
4=6 0A
5=8 1A
Subfa=Tuotanto-, julkaisu-/kustannus-, jakelu- tai valmistuspaikka
Subfb=Tuottajan, julkaisijan/kustantajan, jakajan tai valmistajan nimi
Subfc=Tuotanto-, julkaisu-/kustannus-, jakelu- tai valmistusaika tai tekij‰noikeusvuosi
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[264Ind1]
0=_
1=2
2=3
Value_=Soveltumaton/Tietoa ei ole annettu/Aikaisin
Value2=V‰lituottaja, -julkaisija, -jakelija tai -valmistaja
Value3=Nykyinen/Viimeisin

[264Ind2]
0=0
1=1
2=2
3=3
4=4
Value0=Tuottaminen
Value1=Kustantaminen
Value2=Jakelu
Value3=Valmistaminen
Value4=Tekij‰noikeusvuosi

[270]
0=a 1M
1=b 0A
2=c 0A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=h 0A
8=i 0A
9=j 1A
10=k 1A
11=l 1A
12=m 1A
13=n 1A
14=p 1A
15=q 1A
16=r 1A
17=z 1A
18=4 1A
19=6 0A
20=8 1A
Subfa=Osoite
Subfb=Kaupunki, kunta
Subfc=Osavaltio, maakunta
Subfd=Maa
Subfe=Postinumero
Subff=Vstaanottajan nime‰ edelt‰v‰t termit
Subfg=Vastaanottajan nimi
Subfh=Vastaanottajan nimen j‰ljess‰ seuraava toimi tai asema
Subfi=Osoitteen tyyppi
Subfj=Erityinen puhelinnumero
Subfk=Puhelinnumero
Subfl=Faksinumero
Subfm=S‰hkˆpostiosoite
Subfn=Tekstipuhelinnumero TDD tai TTY
Subfp=Yhteyshenkilˆ
Subfq=Yhteyshenkilˆ‰n arvo tai ammatti
Subfr=Kellonajat
Subfz=Julkinen huomautus
Subf4=Funktiokoodi
Subf6=Linkitys
Subf8=Linkki- ja j‰rjestysnumero

[270Ind1]
0=_
1=1
2=2 
Value_=Tasoa ei ole m‰‰ritelty
Value1=Ensisijainen
Value2=Toissijainen

[270Ind2]
0=_
1=0
2=7
Value_=Tyyppi‰ ei ole m‰‰ritelty
Value0=Postiosoite
Value7=Tyyppi merkit‰‰n osakentt‰‰n $i


