# MARC 21 Bmarc3xx.cfg

[300]
0=a 1A
1=b 0A
2=c 1A
3=e 0A
4=f 1A
5=g 1A
6=3 0A
7=6 0A
8=8 1A
Subfa=Teoksen/aineiston laajuus tai kesto
Subfb=Kuvitus tai muut ulko- tai ilmiasutiedot
Subfc=Mitat
Subfe=Liiteaineisto
Subff=Yksikön tyyppi
Subfg=Yksikön koko
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[300Ind1]
0=_ 
Value_=Määrittelemätön

[300Ind2]
0=_ 
Value_=Määrittelemätön

[306]
0=a 1M
1=6 0A
2=8 1A
Subfa=Äänitteen, musiikkiteoksen tai elokuvan/videon kesto (ttmmss)
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[306Ind1]
0=_ 
Value_=Määrittelemätön

[306Ind2]
0=_ 
Value_=Määrittelemätön

[307]
0=a 0M
1=b 0A
2=6 0A
3=8 1A
Subfa=Käyttöajat
Subfb=Lisätietoja
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[307Ind1]
0=_ 
1=8
Value_=Käyttöajat
Value8=Ei vakionäyttöä

[307Ind2]
0=_ 
Value_=Määrittelemätön

[310]
0=a 0M
1=b 0A
2=6 0A
3=8 1A
Subfa=Nykyinen ilmestymistiheys
Subfb=Nykyisen ilmestymistiheyden alkamisaika
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[310Ind1]
0=_ 
Value_=Määrittelemätön

[310Ind2]
0=_ 
Value_=Määrittelemätön

[321]
0=a 0M
1=b 0A
2=6 0A
3=8 1A
Subfa=Aikaisempi ilmestymistiheys
Subfb=Aikaisemman ilmestymistiheyden aikaväli
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[321Ind1]
0=_ 
Value_=Määrittelemätön

[321Ind2]
0=_ 
Value_=Määrittelemätön

[336]
0=a 1A
1=b 1A
2=0 1A
3=2 0A
4=3 0A
5=6 0A
6=8 1A
Subfa=Sisältötyyppi
Subfb=Sisältötyypin koodi
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Koodin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[336Ind1]
0=_
Value_=Määrittelemätön

[336Ind2]
0=_
Value_=Määrittelemätön

[337]
0=a 1A
1=b 1A
2=0 1A
3=2 0A
4=3 0A
5=6 0A
6=8 1A
Subfa=Mediatyyppi
Subfb=Mediatyypin koodi
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Koodin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[337Ind1]
0=_
Value_=Määrittelemätön

[337Ind2]
0=_
Value_=Määrittelemätön

[338]
0=a 1A
1=b 1A
2=0 1A
3=2 0A
4=3 0A
5=6 0A
6=8 1A
Subfa=Tallennetyyppi
Subfb=Tallennetyypin koodi
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Koodin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[338Ind1]
0=_
Value_=Määrittelemätön

[338Ind2]
0=_
Value_=Määrittelemätön

[340]
0=a 1A
1=b 1A
2=c 1A
3=d 1A
4=e 1A 
5=f 1A
6=g 1A
7=h 1A
8=i 1A
9=j 1A
10=k 1A
11=m 1A
12=n 1A
13=o 1A
14=0 1A
15=2 0A
16=3 0A
17=6 0A
18=8 1A
Subfa=Pohjamateriaali ja kokoonpano
Subfb=Mitat
Subfc=Pintamateriaali
Subfd=Tallennustekniikka
Subfe=Tukimateriaali
Subff=Nopeus/suhde
Subfg=Värillisyys
Subfh=Sijainti välineessä
Subfi=Välineen tekniset tiedot
Subfj=Versio
Subfk=Layout
Subfm=Kirjan koko
Subfn=Kirjasinkoko
Subfo=Polariteetti
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Termin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero    

[340Ind1]
0=_ 
Value_=Määrittelemätön

[340Ind2]
0=_ 
Value_=Määrittelemätön

[342]
0=a 0A
1=b 0A
2=c 0A
3=d 0A
4=e 1A
5=f 1A
6=g 0A
7=h 0A
8=i 0A
9=j 0A
10=k 0A 
11=l 0A
12=m 0A
13=n 0A
14=o 0A
15=p 0A
16=q 0A
17=r 0A
18=s 0A
19=t 0A
20=u 0A
21=v 0A
22=w 0A
23=2 0A
24=6 0A
24=8 1A
Subfa=Nimi
Subfb=Koordinaatti-tai etäisyysyksiköt
Subfc=Leveysasteen ratkaisu
Subfd=Pituusasteen ratkaisu
Subfe=Standardi paralleeli- tai viistoviivan leveysaste
Subff=Viistoviivan pituusaste
Subfg=Meridiaanin tai projektiokeskuksen pituusaste
Subfh=Origon tai projektiokeskuksen leveysaste
Subfi=Itäinen eroavaisuus
Subfj=Pohjoinen eroavaisuus
Subfk=Mittakaavakerroin
Subfl=Perspektiivipisteen korkeus pinnasta
Subfm=Atsimuuttikulma
Subfn=Atsimuutin mittauspisteen pituusasten tai pystysuora pituusaste navasta
Subfo=Landsat-numero ja polun numero
Subfp=Aikavyohyketunniste
Subfq=Ellipsoidin nimi
Subfr=Ellipsin isoakselin puolikas
Subfs=Litisnyneisyysarvon nimittäjä
Subft=Pystysuora ratkaisu
Subfu=Pystysuora koodausmenetelmä
Subfv=Projektion tai ruudukon kuvaus
Subfw=Tietoja paikallisesta taso- tai georeferenssijärjestelmästä
Subf2=Referenssimenetelmä
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[342Ind1]
0=0 
1=1
Value0=Horisontaalinen koordinaattijärjestelmä
Value1=Verikaalinen Koordinaattijärjestelmä

[342Ind2]
0=0
1=1
2=2
3=3
4=4
5=5
6=6
7=7
8=8
Value0=Maantieteellinen
Value1=Karttaprojektio
Value2=Grid-koordinaatisto
Value3=Paikallinen tasokoordinaatisto
Value4=Paikallinen
Value5=Geodeettinen malli
Value6=Korkeus
Value7=Menetelmä merkitty osakenttään 2
Value8=Syvyys

[343]
0=a 0A
1=b 0A
2=c 0A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=h 0A
8=i 0A
9=6 0A
10=8 1A
Subfa=Tasokoordinaattien koodausmenetelmä
Subfb=Tason etäisyysyksiköt
Subfc=Abskissaratkaisu
Subfd=Ordinaattaratkaisu
Subfe=Etäisyysratkaisu
Subff=Suuntaratkaisu
Subfg=Suuntayksiköt
Subfh=Suunnan referenssisuunta
Subfi=Suunnan referenssimeridiaani
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[343Ind1]
0=_ 
Value_=Määrittelemätön

[343Ind2]
0=_ 
Value_=Määrittelemätön

[344]
0=a 1A
1=b 1A
2=c 1A
3=d 1A
4=e 1A
5=f 1A
6=g 1A
7=h 1A
8=0 1A
9=2 0A
10=3 0A
11=6 0A
12=8 1A
Subfa=Äänen tallentamisen tapa
Subfb=Äänen tallennusmedian tyyppi
Subfc=Soittonopeus
Subfd=Uran ominisuudet
Subfe=Ääniraidan asemointi
Subff=Ääninauhan raitojen asemointi
Subfg=Toistokanavien asemointi
Subfh=Äänentoiston erityisominaisuudet
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Termin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[344Ind1]
0=_
Value_=Määrittelemätön

[344Ind2]
0=_
Value_=Määrittelemätön

[345]
0=a 1A
1=b 1A
2=0 1A
3=2 0A
4=3 0A
5=6 0A
6=8 1A
Subfa=Esitysmuoto
Subfb=Heijastamisnopeus
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Termin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[345Ind1]
0=_
Value_=Määrittelemätön

[345Ind2]
0=_
Value_=Määrittelemätön

[346]
0=a 1A
1=b 1A
2=0 1A
3=2 0A
4=3 0A
5=6 0A
6=8 1A
Subfa=Videojärjestelmä
Subfb=Lähetysstandardi
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Tiedon lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[346Ind1]
0=_
Value_=Määrittelemätön

[346Ind2]
0=_
Value_=Määrittelemätön

[347]
0=a 1A
1=b 1A
2=c 1A
3=d 1A
4=e 1A
5=f 1A
6=0 1A
7=2 0A
8=3 0A
9=6 0A
10=8 1A
Subfa=Tiedoston tyyppi
Subfb=Koodausformaatti
Subfc=Tiedoston koko
Subfd=Resoluutio
Subfe=Alueellinen koodaus
Subff=Koodattu bittinopeus
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Tiedon lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[347Ind1]
0=_
Value_=Määrittelelmätön

[347Ind2]
0=_
Value_=Määrittelemätön

[348]
0=a 1A
1=b 1A
2=0 1A
3=2 0A
4=3 0A
5=6 0A
6=8 1A
Subfa=Termi nuottiaineiston muodolle
Subfb=Koodi nuottiaineiston muodolle
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Termin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[348Ind1]
0=_
Value_=Määrittelemätön

[348Ind2]
0=_
Value_=Määrittelemätön

[351]
0=a 1A
1=b 1A
2=c 0A
3=3 0A
4=6 0A
5=8 1A
Subfa=Organisointi
Subfb=Järjestys
Subfc=Hierakkinen taso
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[351Ind1]
0=_ 
Value_=Määrittelemätön

[351Ind2]
0=_ 
Value_=Määrittelemätön

[352]
0=a OA
1=b 1A
2=c 1A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=i 0A
8=q 0A
9=6 0A
10=8 1A
Subfa=Suora referenssimenetelmä
Subfb=Objektityyppi
Subfc=Objektien lukumääärä
Subfd=Rivien määrä
Subfe=Sarakkeiden määrä
Subff=Pystyviivojen määrä
Subfg=VPF topologiataso
Subfi=Epäsuora referenssikuvaus
Subfq=Digitaalisen kuvan formaatti
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[352Ind1]
0=_ 
Value_=Määrittelemätön

[352Ind2]
0=_ 
Value_=Määrittelemätön

[355]
0=a 0A
1=b 1A
2=c 1A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=h 0A
8=j 1A
9=6 0A
10=8 1A
Subfa=Salassapitoaste
Subfb=Käsittelyohjeet 
Subfc=Tietoja ulkoisesta jakelusta
Subfd=Tapahtuma, jossa alennettu tai kumottu salassapito
Subfe=Luokitusjärjestelmä 
Subff=Maakoodi 
Subfg=Turvaluokituksen alentamisen päivämäärä
Subfh=Salassapidon päättymispäivämäärä
Subfj=Auktoriteetti, joka päättää salassapitoasteen alentamisesta tai kumoamisesta
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[355Ind1]
0=0
1=1
2=2
3=3
4=4
5=5
6=8
Value0=Asiakirja
Value1=Nimeke
Value2=Tiivistelmä
Value3=Huomautus sisällöstä
Value4=Tekijä
Value5=Tietue
Value8=Muu elementti

[355Ind2]
0=_ 
Value_=Määrittelemätön

[357]
0=a 0A
1=b 1A
2=c 1A
3=g 1A
4=6 0A
5=8 1A
Subfa=Tekijän tai tuottajan hallinnointia kuvaava termi 
Subfb=Tekijä- tai tuottaja 
Subfc=Aineiston auktorisoidut vastaanottajat 
Subfg=Muut rajoitukset 
Subf6=Linkitys 
Subf8=Linkki- ja järjestysnumero 

[357Ind1]
0=_ 
Value_=Määrittelemätön

[357Ind2]
0=_ 
Value_=Määrittelemätön

[362]
0=a 0M
1=z 0A
2=6 0A
3=8 1A
Subfa=Vuodet/vuosikerrat ja/tai juokseva numerointi
Subfz=Tietojen lähde
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero 

[362Ind1]
0=0 
1=1
Value0=Numerointi virallisessa muodossa
Value1=Vapaamuotoinen huomautus

[362Ind2]
0=_ 
Value_=Määrittelemätön

[363]
0=a 0A
1=b 0A
2=c 0A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=h 0A
8=i 0A
9=j 0A
10=k 0A
11=l 0A
12=m 0A
13=u 0A
14=v 0A
15=x 1A
16=z 1A
17=6 0A
18=8 1A
Subfa=Ensimmäinen numerointitaso
Subfb=Toinen numerointitaso
Subfc=Kolmas numerointitaso
Subfd=Neljäs numerointitaso
Subfe=Viides numerointitaso
Subff=Kuudes numerointitaso
Subfg=Vaihtoehtoinen numerointitapa, ensimmäinen taso
Subfh=Vaihtoehtoinen numerointitapa, toinen taso
Subfi=Ensimmäinen kronologian taso
Subfj=Toinen kronologian taso
Subfk=Kolmas kronologian taso
Subfl=Neljäs kronologian taso
Subfm=Vaihtoehtoinen numerointitapa, kronologia
Subfu=Ensimmäisen tason tekstimuotoinen tieto
Subfv=Ensimmäinen kronologian taso, julkaiseminen
Subfx=Sisäinen huomautus
Subfz=Julkinen huomautus
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero 

[363Ind1]
0=_
1=0 
2=1
Value_=Tieto puuttuu
Value0=Alkamistieto
Value1=Loppumistieto

[363Ind2]
0=_
1=0 
2=1
Value_=Määrittelemätön
Value0=Suljettu
Value1=Avoin

[365]
0=a 0A
1=b 0A
2=c 0A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=h 0A
8=i 0A
9=j 0A
10=k 0A
11=m 0A
12=2 0A
13=6 0A
14=8 1A
Subfa=Hintatyypin koodi
Subfb=Hinta
Subfc=Valuuttakoodi
Subfd=Hintayksikkö
Subfe=Hintahuomautus
Subff=Hinta voimassa alkaen (vvvvkkpp)
Subfg=Hinta voimassa saakka (vvvvkkpp)
Subfh=Veroprosentti 1 
Subfi=Veroprosentti 2 
Subfj=ISO-maakoodi 
Subfk=MARC-maakoodi
Subfm=Hinnoittelija 
Subf2=Hintatyyppikoodin lähde
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero 

[365Ind1]
0=_ 
Value_=Määrittelemätön

[365Ind2]
0=_ 
Value_=Määrittelemätön

[366]
0=a 0A
1=b 0A
2=c 0A
3=d 0A
4=e 0A
5=f 0A
6=g 0A
7=j 0A
8=k 0A
9=m 0A
10=2 0A
11=6 0A
12=8 1A
Subfa=Julkaisijan/kustantajan tiivistetty nimeketieto 
Subfb=Julkaisuaika (vvvvkkpp) 
Subfc=Saatavuuden tila koodina 
Subfd=Odotettavissa oleva seuraava saatavuuspäivä 
Subfe=Huomautus 
Subff=Julkaisijan alennusryhmä 
Subfg=Päivä, josta lähtien kuvailun kohde on ollut loppuunmyyty (vvvvkkpp)
Subfj=ISO-maakoodi 
Subfk=MARC-maakoodi 
Subfm=Organisaation tunnistus 
Subf2=Saatavuuden tilakoodin lähde 
subf6=Linkitys 
Subf8=Linkki- ja järjestysnumero 

[366Ind1]
0=_ 
Value_=Määrittelemätön

[366Ind2]
0=_ 
Value_=Määrittelemätön

[370]
0=c 1A
1=f 1A
2=g 1A
3=i 1A
4=s 0A
5=t 0A
6=u 1A
7=v 1A
8=0 1A
9=2 0A
10=3 0A
11=4 1A
12=6 0A
13=8 1A
Subfc=Maa
Subff=Muu paikkamerkintö
Subfg=Teoksen luontipaikka
Subfi=Tieto suhteesta
Subfs=Ajanjakson alku
Subft=Ajanjakson loppu
Subfu=URI, Uniform Resource Indentifier
Subfv=Tiedonlähde
Subf0=Auktoriteettitietueen kontrollinumero
Subf2=Termin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf4=Suhde
Subf6=Linkitys
Subf8=Linkki- ja järjestynumero

[370Ind1]
0=_
Value_=Määrittelemätön

[370Ind2]
0=_
Value_=Määrittelemätön

[377]
0=a 1A
1=l 1A
2=0 1A
3=2 0A
4=6 0A
5=8 1A
Subfa=Kielikoodi
Subfl=Kielen nimi
Subf0=Auktoriteettitietueen kontrollinumero tai standardinumero
Subf2=Tiedon lähde
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[377Ind1]
0=_
Value_=Määrittelemätön

[377Ind2]
0=_
1=7
Value_=MARC-kielikoodi
Value7=Lähde ilmoitettu osakenttä 2:ssa

[380]
0=a 1A
1=0 1A
2=2 0A
3=6 0A
4=8 1A
Subfa=Teoksen muoto
Subf0=Auktoriteettitietueen kontrollinumero
Subf2=Termin lähde
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[380Ind1]
0=_ 
Value_=Määrittelemätön

[380Ind2]
0=_ 
Value_=Määrittelemätön

[381]
0=a 1A
1=u 1A
2=v 1A
3=0 1A
4=2 0A
5=6 0A
6=8 1A
Subfa=Muu erityispiirre
Subfu=URI
Subfv=Tiedonlähde
Subf0=Auktoriteettitietueen kontrollinumero
Subf2=Termin lähde
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[381Ind1]
0=_ 
Value_=Määrittelemätön

[381Ind2]
0=_ 
Value_=Määrittelemätön

[382]
0=a 1A
1=b 1A
2=d 1A
3=e 1A
4=n 1A
5=p 1A
6=r 0A
7=s 1A
8=t 0A
9=v 1A
10=0 1A
11=2 0A
12=3 0A
13=6 0A
14=8 1A
Subfa=Esityskokoonpano
Subfb=Solisti
Subfd=Kaksintava soitin/lauluääni
Subfe=Samantyyppisten yhtyeiden, orkestereiden ja kuorojen lukumäärä
Subfn=Yksittäisten soitinten/lauluäänten lukumäärä
Subfp=Vaihtoehtoinen esityskokoonpano
Subfr=Yhtyeiden, orkestereiden tai kuorojen kanssa esiintyvien solistien kokonaismäärä
Subfs=Esittäjien kokonaismäärä
Subft=Yhtyeiden, orkestereiden ja kuorojen kokonaismäärä
Subfv=Huomautus
Subf0=Auktoriteettitietueen kontrollinumero
Subf2=Termin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[382Ind1]
0=_ 
1=0
2=1
Value_=Tieto puuttuu
Value0=Esityskokoonpano
Value1=Osittainen esityskokoonpano

[382Ind2]
0=_
1=0
2=1 
Value_=Tieto puuttuu
Value0=Tieto ei haettavissa
Value1=Tieto haettavissa

[383]
0=a 1A
1=b 1A
2=c 1A
3=6 0A
4=8 1A
Subfa=Järjestysnumero
Subfb=Opusnumero
subfc=Teosluettelonumero
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[383Ind1]
0=_ 
Value_=Määrittelemätön

[383Ind2]
0=_ 
Value_=Määrittelemätön

[384]
0=a 0A
1=6 0A
2=8 1A
Subfa=Sävellaji
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[384Ind1]
0=_ 
1=0
2=1
Value_=Suhdetta alkuperäiseen sävellajiin ei tiedetä
Value0=Alkuperäinen sävellaji
Value1=Transponoitu sävellaji

[384Ind2]
0=_ 
Value_=Määrittelemätön

[385]
0=a 1A
1=b 1A
2=m 0A
3=n 0A
4=0 1A
5=2 0A
6=3 0A
7=6 0A
8=8 0A
Subfa=Kohderyhmä
Subfb=Kohderyhmän koodi
Subfm=Väestöryhmä
Subfn=Väestöryhmän koodi
Subf0=Auktoriteettitietueen kontrollinumero
Subf2=Termin/koodin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[385Ind1]
0=_
Value_=Määrittelemätön

[385Ind2]
0=_
Value_=Määrittelemätön

[386]
0=a 1A
1=b 1A
2=i 1A
3=m 0A
4=n 0A
5=0 1A
6=2 0A
7=3 0A
8=4 1A
9=6 0A
10=8 1A
Subfa=Tekijä
Subfb=Tekijän koodi
Subfi=Tieto suhteesta
Subfm=Väestöryhmä
Subfn=Väestöryhmän koodi
Subf0=Auktoriteettitietueen kontrollinumero
Subf2=Termin/koodin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf4=Suhde
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[386Ind1]
0=_
Value_=Määrittelemätön

[386Ind2]
0=_
Value_=Määrittelemätön

[388]
0=a 1A
1=0 1A
2=2 0A
3=3 0A
4=6 0A
5=8 1A
Subfa=Luomisaika
Subf0=Auktoriteettitietueen kontrollinumero
Subf2=Termin lähde
Subf3=Aineiston osa, jota tiedot koskevat
Subf6=Linkitys
Subf8=Linkki- ja järjestysnumero

[388Ind1]
0=_
1=1
2=2
Value_=Tieto puuttuu
Value1=Teoksen luomisaika
Value2=Kokoomateoksen luomisaika

[388Ind2]
0=_
Value_=Määrittelemätön
